body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    /* background-color: #f7f2f2; */
    margin: 0;
    display: flex;
    align-items: center;
    /* justify-content: center; */
    height: 80vh;
    /* flex-direction: column; */
   flex-direction: column;
    /* position: relative; */
    /* left: 20px; */
    /* top: px; */
    background: url("/static/img/pure.jpeg")no-repeat;
   background-size: cover;
   /* background-position: center; */
}
/* .signmain{
    position: relative;
    left: 20px;
    top: 80px; 
     border: 2px solid;
    width: 39rem;
    padding: 20px;
} */
/* user agent stylesheet */
body {
    display: block;
    margin: 8px;
}
.signup-container {
    background-color: #ffffff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    overflow: hidden;
    width: 400px;
}

.signup-form {
    padding: 40px;
    text-align: center;
}

h2 {
    color: #333333;
    margin-bottom: 30px;
}

.form-group {
    margin-bottom: 20px;
}

label {
    display: block;
    margin-bottom: 8px;
    color: #FEA116;
}

input {
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    border: 1px solid #dddddd;
    border-radius: 4px;
    font-size: 16px;
}

button {
    background-color: black;
    color: #ffffff;
    padding: 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s;
    top: 10px;
    position: relative;
}

button:hover {
    background-color: #f7faf8;
    color: black;
    border: 1px black;
}
h1{
    text-decoration: underline;
    color: rgb(192, 199, 66);
}
ul {
    color: blue;
    font-style: italic;
}
.container1{
    position: relative;
    /* top: 8em; */
    left: 80px;
    color: black;
    /* border: 1px solid white; */
    /* background-color: bisque; */
    padding: 20px;
    width:40%;

}
.maincontainer{
    /* background: linear-gradient(rgba(15, 23, 43, .9), rgba(15, 23, 43, .9)), url(https://themewagon.github.io/restoran/img/bg-hero.jpg); */
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    gap: 90px;
}
.img{
    height: 30em;
    margin-top: 8px;
}